

.ant-modal-content{
    background-color: #282828 !important;
}

.ant-modal-header{
    background-color: #282828 !important;
    color: white !important;
}

.ant-modal-title{
    color: white !important;
    font-family: 'DM sans', sans-serif !important;
    size: 19px;
}

.ant-modal-footer > .ant-btn-primary{
    background-color: #1DB954;
}

.ant-modal-footer > .ant-btn-primary:hover{
    background-color: #22da62;
}
