

.home{
    margin-left:300px;
    background : linear-gradient(180deg, #222222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 99.20%, rgba(18, 18, 18, 0) 100%);
    color: white;
    margin-bottom: 80px;
    min-height: 91vh;
}

.container-playlist{
    justify-content: space-around;
}

.container-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
}